<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
		<style>
			h1{
				color:{{color}};
			}
		</style>
    </head>
    <body>
 <div class="symfony-content">
 content: <br>
                {% block content %}
                {% endblock %}
</div>
</body>
</html>